<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>员工列表thymeleaf</title>
  <link th:href="@{/employees.css}" rel="stylesheet" type="text/css">
</head>
<body>
<table>
  <tr>
    <th>编号</th>
    <th>姓名</th>
    <th>年龄</th>
    <th>性别</th>
  </tr>
  <tr th:each="employee : ${employees}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.name}"></td>
    <td th:text="${employee.age}"></td>
    <td th:text="${employee.gender}"></td>
  </tr>
</table>

</body>
</html>

</body>
</html>